body {
    font-family: arial;
    background-color:darkkhaki;
}
/* Nav > a controles left to right a ( child elements ) of Nav*/
/* flex function is very convinient */
nav > a {
    text-decoration: none;
    border: 0.5px solid gray;
    flex:3;
    gap: space-between;
    text-align: center;
    justify-content: center;
    padding: 0.4rem;
    margin-inline: 0.4cm;
    color: white;
    transition: all 1s;
}
/* Nav > a controles specifcially first child
border-radius affects the style of the border nav panel
to style corners it goes in order top L top R Bottom R Bottom L 0 0 0 0*/


nav > a {
    border-radius: 1rem 1rem 1rem 1rem;   
}

nav {
    display: flex;
    background-color: darkgreen;
    border-radius: 1rem 1rem 1rem 1rem;
}

nav > a.selected {
    background-color: darkgreen;
} 
/* Hover function changes the look of the section ones mouse goes over it*/
nav > a:hover{
    background-color: saddlebrown;
    color: white;
    transition: all 1s;
}
/* @media controles the elements for different sizeing of the websites as it
changes sizes but it will requre some rezising and fixing*/


@media (max-width:300px) {

nav  {
    flex-direction: column;
    justify-content: space-between;

}
nav > a:first-child {
    border-radius: 1rem 1rem 1rem 1rem; 
}
nav > a:last-child {
    border-radius: 1rem 1rem 1rem 1rem;
}
nav > a:hover{
    background-color: saddlebrown;
    color: white;
    transition: all 1s;
}
}
/* End of Nav bar  all HTML */

/* Start of Footer all HTML */

footer   {
    text-align: center;
    font-size: smaller;
    position: sticky;
    flex: row;
    bottom: 2cm;
    width: 100%;
    padding: 1px;
    background-color: darkgreen;
    color: white;
    display: block;
}

/* End of Footer all HTML*/


/* Start of index.html main page*/

.galleryH1 {
    display: flex;
    flex-direction: row;
    text-wrap: wrap;
    border: 4px solid none;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
}
.imgviking {    
    width: 300px;
}  


@media only screen and (max-width: 1000px) {

    .galleryH1 {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        display: flex;
    }    

}


 /* End of Index */


/*Start of About styling*/
.imgabout {
    margin-right: 20px;
}

.text-container {
    margin-left: 20px;
}
/*End of About styling*/

/* Start of Portfolio styling */

.container-flexP1 {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
}
.responsive-flex {
    padding: 0 8px;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap:10px;
    width: 24.99999%;
    margin-top: 10%;
    margin-bottom: 2%;
    
}

div.gallery {
    border: 4px solid black;
    display: flex;
    flex-direction: column;
}
    div.gallery:hover {
    border: 1px solid #777;
}  
div.gallery img {
    width: 100%;
    height: auto;
}

    div.desc {
    padding: 15px;
    text-align: center;
}

  * {
    box-sizing: border-box;

}

@media only screen and (max-width: 1000px) {
.responsive-flex {
display: flex;
width: 49.99999%;
margin: 6px 0;
flex-direction: column;
}
}

@media only screen and (max-width: 400px) {
.responsive-flex {
    display: flex;
    width: 100%;
}
}
/* End of Portfolio styling */

/* Start of Contact forms*/

.container-flexC1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: darkkhaki;
    
    
}
label {
    row-gap: 5px;
    font-weight: bold;
}
input {
    background-color: lightgreen;
    
}
textarea {
    background-color: lightgreen;
    
}
button {
    background-color: darkgreen;
    color: white;
    font-size: x-large;
}
@media only screen and (max-width: 1000px) {
    .container-flexC1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
/* Response start */

.r1 {
    display: flex;
    flex-direction: column;
    text-align: center;

    
}
.r1 > .r1link .r1img {
    align-items: center;
    margin-left: auto;
}

.r1link {
    color: black;
    font-weight: bolder;
    margin: auto;
}

@media (max-width: 1000px)  { 
    .r1 {
        display: flex;
        flex-direction: column;
        
    
    }
    .r1link {
        color: black;
        font-weight: bolder;
    }
}
/* Response ends */